[Unit]
Description=mbusmaster
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
GuessMainPID=yes
ExecStart=/usr/bin/java  -Dlog4j.configurationFile=log4j2.xml -DmainConfigFile=mbusMaster.props -jar mbusMaster-1.0-SNAPSHOT-jar-with-dependencies.jar
ExecStop=kill -SIGINT $mainpid
Restart=on-failure
WorkingDirectory=/opt/mbusMaster
User=pi


[Install]
Alias=mbusmaster
WantedBy=multi-user.target

